body {
    background-size: cover;
    font-family: 'Cairo', sans-serif;
    text-transform: capitalize;
    background-color: #eeeeee42;
    /* background-color: #1a2035; */
}

html {
    scroll-behavior: smooth;
}


/* sidebar */

.fas {
    font-size: 18px;
}

p {
    font-size: 16px;
}


/*background-color: rgb(0 0 0 / 60%);*/

.sidebar {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 0px solid;
    border-radius: 15px;
    background-image: url('../css/images/pexels-eberhard-grossgasteiger-2098427.jpg');
    background-size: cover;
}

.hiden {
    left: -600px;
}

.Dashboards {
    background-color: rgb(255 255 255 / 20%);
}


/*header */

.header {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

li:hover {
    background-color: rgb(0 0 0 / 20%);
}

.m-inherit {
    margin: inherit;
}

.m-inherit .header {
    top: 5px;
    z-index: 1;
    background-color: #ededed;
}

.header form input {
    background-color: #e9ecef;
}


/* header icons */

.col .header .col-2 {
    display: flex;
    justify-content: space-between;
}

.col .header .col-2 .fas {
    font-size: 18px;
    margin-top: 10px;
}

.col .header .col-2 .fas .translate-middle {
    top: -5px;
    right: -40px;
}

.col hr {
    width: 85%;
}

.mini-img-sidebar {
    padding: 0%;
    width: 100%;
}

.mini-icon-sidebar .fas {
    padding: 8px;
}

.mini-icon-sidebar {
    background-color: rgb(0 0 0 / 50%);
}


/* section */

section {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

section .position-relative .fas {
    font-size: 25px;
}

section .position-relative {
    top: -35px;
    left: 10px;
    transition: 0.8s;
    animation-name: section-span;
    animation-duration: 0.8s;
}

section .position-relative:hover {
    top: -50px;
}

@keyframes section-span {
    0% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(-0px);
    }
}

.m-inherit .mt-5 {
    border: 0px solid;
    border-radius: 10px;
}

.col .container .bg-success .fas {
    font-size: 30px;
}

.col .container .position-relative .position-absolute {
    top: -8px;
}

.col .container table tr td span {
    font-size: 14px;
}


/* myChart */

.myChart .container .col-4 h6 {
    font-weight: 700;
}

.myChart .container .col-4 p {
    font-weight: 400;
}

.myChart .canvas {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.myChart canvas {
    z-index: 1;
    transition: 0.6s;
}

.myChart .fa-edit {
    position: relative;
    top: -30px;
    left: 50%;
    font-weight: 600;
    z-index: -1;
}

.myChart .col-4:hover canvas {
    transform: translateY(-30px);
}


/**/

.Followers,
.Today-Users,
.Bookings {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.text-end {
    text-align: end;
}

.text-end p b {
    font-size: 20px;
    font-weight: 800;
}


/* information */

.information .fas {
    transform: translate(0px, -15px);
    transition: 0.8s;
}

.information .col:hover .fas {
    transform: translate(0px, -25px);
}


/* places */

.Barcelona,
.London,
.Milan {
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}

.places img {
    transition: 0.8s;
}

.places .Barcelona:hover img,
.places .London:hover img,
.places .Milan:hover img {
    transform: translateY(-30px);
}

.places a {
    text-decoration: none;
}

.places h5 {
    font-weight: 700;
    text-align: center;
}

.places p {
    text-align: center;
}


/* setting btn */

.setting-btn {
    top: 80px;
    right: 15px;
    border-radius: 5px;
}

.setting-btn .fa-cog {
    font-size: 25px;
    padding: 12px;
    transition: 0.8s;
}

.setting-btn:hover .fa-cog {
    transform: rotate(35deg);
}


/* float-section */

.float-section {
    top: 25px;
    right: -150%;
    border-radius: 10px;
    box-shadow: 0px 0px 14px 4px rgb(0 0 0 / 20%), 0 0px 90px 0 rgb(0 0 0 / 19%);
    transition: 0.8s;
    z-index: 2;
}

.float-section::after {
    z-index: 2;
    box-shadow: 3rem -1rem 3rem rgb(0 0 0 / 20%);
    content: "";
    position: absolute;
    top: 9%;
    right: -20px;
    width: 40px;
    height: 40px;
    transform: rotate(45deg);
    background-color: #fff;
    border-radius: 0px;
}

.float-section .options,
.float-section .Choose {
    font-size: 14px;
    font-weight: 300;
}

.float-section h5,
.float-section .Colors {
    font-weight: 700;
}

.float-section .bg button {
    margin: 5px;
}

.float-section .fab {
    font-size: 16px;
}

.show-float-section {
    right: 100px;
}


/* up btn */

.up-btn {
    bottom: 30px;
    right: -100px;
    transition: 0.8s;
}

.up-btn button .fa-arrow-up {
    font-size: 18px;
    transition: 0.6s;
}

.up-btn button:hover .fa-arrow-up {
    transform: translateY(-3px);
}

.show {
    right: 15px;
}
